nav {
  min-height: 60px;
  .wrapper {
    padding: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;
    .brand {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        margin: 1.5rem 0;
        cursor: pointer;
        // fill: none;
        // color:;
        transition: 0.3s ease-in-out;
        // outline: 2px dashed transparent;
        // cursor: pointer;
        &:hover {
          // fill: ;
        }
        &:focus {
          // outline-color: ;
          // fill: ;
        }
      }
    }
    .nav-items {
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      &-list {
        display: flex;
        gap: 3rem;
        list-style-type: none;
        &-item {
          a {
            outline: 2px solid transparent;
            transition: 0.3s ease-in-out;
            color: inherit;
            text-decoration: none;
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            border-radius: 0.5rem;

            &:hover {
              color: #d09e72;
            }
          }
          a:focus {
            outline-color: #d09e72;
            outline-offset: 3px;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

// background: #292524;
//             box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 5%);
//             padding-top: 0.625rem;
//             padding-bottom: 0.625rem;
//             border-radius: 0.5rem;
