nav {
  min-height: 60px;
  .wrapper {
    padding: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;
    .brand {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        margin: 2rem 0;
        width: 3rem;
        // fill: none;
        // color:;
        transition: 0.3s ease-in-out;
        // outline: 2px dashed transparent;
        // cursor: pointer;
        &:hover {
          // fill: ;
        }
        &:focus {
          // outline-color: ;
          // fill: ;
        }
      }
    }
  }
}
