.btn {
  color: #d09e72;
  padding: 0.75em 1em;
  text-decoration: none;
  border: 1px solid #d09e72;
  border-radius: 4px;
  background-color: transparent;
  font-size: inherit;
  outline: none;
  &:hover,
  &:focus {
    // background-color: ;
  }
}
